<footer>
    <ul>
        <li><a>Ingenieria de Software III- Lennys Cantero</a></li>
        <li><a href="https://gitlab.com/lencantero/03-y-26426-motor-plantillas.git">Respositorio del Proyecto</a></li>
    </ul>
</footer>
