<div class="container-navbar">
    <nav class="navbar">
        <ul>
            <li><a href="/index.html">Inicio</a></li>
            <li><a href="/integrante/Y17825">Alexis</a></li>
            <li><a href="/integrante/Y12858">Elvio</a></li>
            <li><a href="/integrante/Y23865">Gabriel</a></li>
            <li><a href="/integrante/Y26426">Lennys</a></li>
            <li><a href="/integrante/UG0507">Marco</a></li>
            <li><a href="/paginas/curso.html">Curso</a></li>
            <li><a href="/paginas/word_cloud.html">WordCloud</a></li>
        </ul>
    </nav>
</div>
