<!DOCTYPE html>
<html>
<head>
    <title>Error 404 - Página no encontrada</title>
    <style>
        body {
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background-color: #242424; /* Cambia el color de fondo según tu preferencia */
            color: #FFFFFF; /* Cambia el color del texto según tu preferencia */
            font-family: Arial, sans-serif; /* Cambia la fuente del texto según tu preferencia */
        }

        .error-image {
            width: 600px; /* Cambia el tamaño de la imagen según tu preferencia */
            height: 400px; /* Cambia el tamaño de la imagen según tu preferencia */
            image-rendering: pixelated; /* Ajusta el rendering de la imagen para que se vea pixelada */
            border: 4px solid #000000; /* Añade bordes negros para simular píxeles */
        }

        p {
            text-align: center;
            font-size: 16px; /* Cambia el tamaño del texto según tu preferencia */
            margin-top: 20px; /* Ajusta el margen superior del texto según tu preferencia */
        }
    </style>
</head>
<body>
    <h1>Error 404 - Página no encontrada</h1>
    <p>Lo sentimos, la página que estás buscando no se encontró.</p>
    <img class="error-image" src="../../assets/images/error-imagen.png" alt="Imagen de error">
</body>
</html>
