<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenidos al Grupo XYZ</title>
    <link rel="stylesheet" href="assets/css/index_inicio.css">
</head>
<body>
    {{#each inicio}}
    <header>
        <h1> {{titulo}} </h1>
    </header>
    {{> nav}}   
    <!-- <nav>
        <ul>
            <li><a href="paginas/Y17825/index.html">Alexis Duarte-Y17825</a></li>
            <li><a href="paginas/Y26426/index.html">Lennys Cantero-Y26426</a></li>
            <li><a href="paginas/Y23865/index.html">Gabriel Garcete-Y23865</a></li>
            <li><a href="paginas/Y12858/index.html">Elvio Martinez-Y12858</a></li>
            <li><a href="paginas/UG0507/index.html">Marco Ortigoza-UG0507</a></li>
            <li><a href="paginas/word_cloud.html">Word Cloud</a></li>
            <li><a href="paginas/curso.html">Información del Curso</a></li>
        </ul>
    </nav> -->
    <div>
        <img src="{{url}}" alt="Grupo FSOCIETY" class="logo">
    </div>
    <!-- <footer>
        <p>Grupo FSOCIETY - Todos los derechos reservados &copy; 2024</p>
    </footer> -->
    {{/each}}
    {{>footer}}
</body>
</html>