<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    {{#each integrante}}
        <title>Página Personal {{nombre}}</title>
    {{/each}}
    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
    <nav>
     {{> nav}}
    </nav>
    <div class="personal-info-len">
        <header>
            {{#each integrante}}
                <h1>{{nombre}} {{apellido}}</h1>
                <p>Matrícula: {{matricula}}</p>
            {{/each}}
        </header>
        <section>
            {{#each media}}
                <h2>{{titulo}}</h2>
                {{#if url}}
                  <iframe width="560" height="315" src="{{url}}" title=" Video Favorito" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                {{else}}
                    <img src="{{src}}" alt="{{alt}}" width="100%" height=auto>
                {{/if}}
            {{/each}}
        </section>
    </div>
    {{> footer}}
</body>
</html>

