/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
/* Estilos del encabezado */
header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}
/* Estilos del título */
h1 {
    font-size: 36px;
    margin: 0;
    text-transform: uppercase;
}
/* Estilos de la navegación */
nav {
    background-color: #eee;
    padding: 10px;
    text-align: center;
}
/* Estilos de la lista de enlaces */
nav ul {
    list-style-type: none;
    padding: 0;
}
/* Estilos de cada ítem de la lista de enlaces */
nav ul li {
    display: inline;
    margin-right: 20px;
}
/* Estilos de los enlaces */
nav ul li a {
    text-decoration: none;
    color: #333;
    font-size: 18px;
}
/* Estilos de los enlaces al pasar el cursor sobre ellos */
nav ul li a:hover {
    color: #666;
}
/* Estilos del logo */
.logo {
    display: block;
    margin: 20px auto;
    max-width: 200px;
}
/* Estilos del footer */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
footer p {
    margin: 0;
    font-size: 14px;
}